<div class="container">
<div class="panel">
  <mat-card>
    <mat-card-title>Extended Transportation</mat-card-title>
    <mat-card-subtitle>Book a driver!</mat-card-subtitle>
    <mat-card-content>
      <img src="https://balione.s3.amazonaws.com/car.png">
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [routerLink]="['/transportation']" > BOOK NOW</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title>Personal Tour Guide</mat-card-title>
    <mat-card-subtitle>Book a tour Guide!</mat-card-subtitle>
    <mat-card-content>
      <img style="color: royalblue" src="https://balione.s3.amazonaws.com/guide.png">
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="disabled" >BOOK NOW</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title>Restaurant Guide</mat-card-title>
    <mat-card-subtitle>The hottest resteraunts in Bali ranked for you!</mat-card-subtitle>
    <mat-card-content>
      <img src="https://balione.s3.amazonaws.com/food.png">
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="disabled" >EXPLORE</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
</div>
<div class="container">
<div class="panel">
  <mat-card>
    <mat-card-title>Bali Day Clubs</mat-card-title>
    <mat-card-subtitle>Whats the hottest day club today?</mat-card-subtitle>
    <mat-card-content>
      <img src="https://balione.s3.amazonaws.com/pool.png">
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="disabled" >EXPLORE</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title>Bali Attractions</mat-card-title>
    <mat-card-subtitle>Prices, Ratings, Information</mat-card-subtitle>
    <mat-card-content>
      <img style="color: royalblue" src="https://balione.s3.amazonaws.com/monkey.png">
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="disabled" > EXPLORE</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title> Scooter Guide</mat-card-title>
    <mat-card-subtitle>Rent a scooter here!</mat-card-subtitle>
    <mat-card-content>
      <img src="https://balione.s3.amazonaws.com/scooter.png">
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="disabled" > RENT NOW</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
</div>
<div class="container">
<div class="panel">
  <mat-card>
    <mat-card-title>Night Life</mat-card-title>
    <mat-card-subtitle>Hottest Night Life, changes daily!</mat-card-subtitle>
    <mat-card-content>
      <img src="https://balione.s3.amazonaws.com/map.png">
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="disabled" > VIEW </button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title>Health Guide</mat-card-title>
    <mat-card-subtitle>food poisoning? nearest hospital?</mat-card-subtitle>
    <mat-card-content>
      <img src="https://balione.s3.amazonaws.com/health.png">
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="disabled" > BOOK NOW</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title>Message Boards</mat-card-title>
    <mat-card-subtitle>Get Live Feedback of whats happening now!</mat-card-subtitle>
    <mat-card-content>
      <img src="https://balione.s3.amazonaws.com/message.png">
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="disabled" > BOOK NOW</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
</div>
