<div class="container">
    <mat-card>
        <mat-card-title>Short Term Transportation</mat-card-title>
        <mat-card-subtitle> 1 day or less </mat-card-subtitle>
        <mat-card-content>
          <img src="../../assets/short.png">
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" [routerLink]="['/transportation']" > BOOK NOW</button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    <mat-card>
        <mat-card-title>Long Term Transportation</mat-card-title>
        <mat-card-subtitle>Multi Day </mat-card-subtitle>
        <mat-card-content>
          <img src="../../assets/multi.png">
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="openDialog()" > BOOK NOW</button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
      </mat-card>
</div>
